.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  min-height: 100vh;
  padding: 40px;
  margin: 0px 40px;
  border-radius: var(--main-border-radius);
  background: var(--container-bg);
}
