@import '../styles/shared/DetailsShared.module.scss';

.patchWrapper {
  display: flex;
  justify-content: center;
}
.patchImage {
  width: clamp(130px, 20vw, 200px);
  aspect-ratio: 1/1;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.15);
  }
}

.webcastWrapper {
  display: flex;
  gap: 1rem;
}

.link {
  font-size: clamp(24px, 2vw, 28px);
  font-weight: bold;
  align-self: center;
}
