.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  height: 250px;
  width: 100%;
  max-width: 800px;
  padding: 40px 20px;
  border: var(--card-border);
  border-radius: var(--main-border-radius);
  box-shadow: var(--card-box-shadow);
  background: var(--container-bg);
  cursor: pointer;
  will-change: transform, box-shadow;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-6px);
    box-shadow: var(--launch-card-box-shadow-hover);
  }
}

.skeletonCard {
  max-width: 800px;
  height: 250px;
  pointer-events: none;
}

.label {
  font-size: clamp(20px, 1.5vw, 22px);
  text-transform: uppercase;
  color: var(--text-secondary);
}

.value {
  font-size: clamp(22px, 2vw, 24px);
  color: var(--text-primary);
}

@media (max-width: 1068px) {
  .card {
    gap: 1rem;
    min-width: 350px;
    height: auto;
  }

  .card {
    gap: 1rem;
    height: auto;
  }

  .label {
    display: block;
  }

  .skeletonCard {
    min-width: 350px;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 320px;
  }

  .skeletonCard {
    width: 320px;
  }
}
