.detailsContainer {
  position: relative;
  height: fit-content;
  padding: 40px;
  margin: 0px 40px;
  border-radius: var(--main-border-radius);
  background: var(--container-bg);
}

.detailsContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.backButton {
  margin-bottom: 32px;
  border: none;
  background: none;

  svg {
    width: clamp(32px, 4vw, 48px);
    height: clamp(32px, 4vw, 48px);
    color: var(--text-primary);
    will-change: transform;
    transition:
      transform 0.2s ease,
      color 0.2s ease;

    &:hover {
      transform: scale(1.1);
      color: var(--accent-color);
    }
  }
}

.skeletonButton {
  width: clamp(32px, 4vw, 48px);
  height: clamp(32px, 4vw, 48px);
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .detailsContainer {
    padding: 30px 20px;
    margin: 0px 15px;
  }

  .detailsContent {
    gap: 3rem;
  }

  .backButton {
    margin-bottom: 16px;
  }
}
