:root {
  --font-primary: D-DIN, Arial, Verdana, sans-serif;

  --bg-color-body: #0b0b0f;
  --white-dimmed: rgba(240, 240, 250, 0.9);

  --text-primary: white;
  --text-secondary: var(--white-dimmed);

  --input-placeholder-text: rgba(240, 240, 250, 0.7);

  --light-blue: #7dcafa;
  --link-color: var(--light-blue);
  --link-hover: rgb(161, 215, 249);

  --container-bg: rgba(255, 255, 255, 0.1);

  --page-bg: rgba(255, 255, 255, 0.4);
  --page-hover: #ffffff;

  --card-box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.7);
  --card-box-shadow-hover: 0 25px 30px rgba(253, 253, 253, 0.8);
  --launch-card-box-shadow-hover: 0 15px 30px rgba(253, 253, 253, 0.8);
  --filter-button-box-shadow-hover: 0 8px 8px rgba(253, 253, 253, 0.8);
  --image-box-shadow: 10px 10px 10px orange;

  --card-border: 3px solid white;

  --accent-color: rgb(196, 126, 6);
  --main-border-radius: 12px;

  --skeleton-gradient: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );

  --title-bg: transparent;
  --title-border: transparent;
  --title-padding: 10px 20px;

  --page-selected-color: rgb(166, 114, 18);
  --page-hover: #bcbcbc;

  --input-border-color: #ccc;

  --details-title-border: 4px solid orange;
  --image-border: 4px solid white;

  --active-btn-color: rgb(124, 239, 124);
  --active-btn-text-shadow: 0px 2px 10px rgb(147, 250, 147);
  --btn-border: 4px solid var(--input-border-color);

  --placeholder-color: #ccc;
}

:root[data-theme='light'] {
  --bg-color-body: #f5f5f5;
  --container-bg: rgba(255, 245, 230, 0.85);
  --text-primary: #1b1a1a;
  --text-secondary: #0c0c0c;
  --link-color: #1a73e8;
  --link-hover: rgb(97, 164, 252);
  --title-bg: var(--container-bg);
  --page-bg: var(--container-bg);

  --input-placeholder-text: rgba(5, 5, 5, 0.7);

  --details-title-border: 4px solid var(--light-blue);
  --image-box-shadow: 10px 10px 10px #33a0e3;
  --image-border: 4px solid black;

  --card-border: 3px solid var(--text-secondary);
  --card-box-shadow: 0px 10px 15px var(--light-blue);
  --launch-card-box-shadow-hover: 0 15px 30px var(--light-blue);

  --page-selected-color: var(--light-blue);
  --page-hover: #9fd8fb;

  --active-btn-color: rgb(0, 255, 247);
  --active-btn-text-shadow: 2px 2px 4px black, 0px 2px 20px rgb(0, 255, 247);
  --filter-button-box-shadow-hover: var(--launch-card-box-shadow-hover);

  --input-border-color: #f5f5f5;

  --accent-color: var(--light-blue);

  --placeholder-color: black;
}
