$font-primary: D-DIN, Arial, Verdana, sans-serif;

$bg-color-body: #0b0b0f;

$white-dimmed: rgba(240, 240, 250, 0.9);
$light-blue: #7dcafa;

$card-bg: linear-gradient(
  145deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0.1)
);

$card-box-shadow: 0px 8px 8px rgba(255, 255, 255, 0.5);

$accent-red: rgb(196, 126, 6);

$main-border-radius: 12px;
