.container {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  margin-bottom: 80px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  overflow: hidden;
  height: 75px;
}

.companyLogo {
  height: clamp(70%, 10vw, 90%);
  width: auto;
  filter: invert(1) brightness(2.5);
  transform: translateY(-15%);
  transform-origin: center left;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.navWrapper {
  display: flex;
  gap: 1rem;
}

.themeToggleButton {
  align-self: center;
  color: white;
  border: none;
  background: none;
  transition:
    transform 0.3s ease,
    color 0.3s ease;

  &:hover {
    transform: scale(1.05);
    color: var(--accent-color);
  }
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.25);
}

@media (max-width: 768px) {
  .header {
    padding: 10px 30px;
  }
  .themeToggleButton {
    order: -1;
  }
}
