@use '@styles/variables.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0px 30px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 75px;
}

.companyLogo {
  height: 100%;
  width: auto;
  filter: invert(1) brightness(2.5);
  transform: translateY(-5%);
  transform-origin: center left;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
