.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 40px 70px;
  border-radius: 12px;
  box-shadow: var(--card-box-shadow);
  background: var(--container-bg);
  will-change: transform, box-shadow;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: var(--launch-card-box-shadow-hover);
  }
  & > :last-child .value {
    line-height: 1.5;
  }
}

.title {
  padding: var(--title-padding);
  color: var(--text-primary);
  font-size: clamp(32px, 3vw, 40px);
  border-radius: var(--main-border-radius);
  background-color: var(--title-bg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.label {
  font-size: clamp(22px, 2vw, 26px);
  font-weight: bold;
  color: var(--text-secondary);
}

.value {
  font-size: clamp(24px, 2vw, 28px);
  color: var(--text-primary);

  span {
    display: block;
  }
}

.links {
  display: flex;
  gap: 2rem;
}

.link {
  font-size: clamp(24px, 2vw, 28px);
}

@media (max-width: 1100px) {
  .content {
    padding: 20px 30px;
  }
}
@media (max-width: 768px) {
  .content {
    padding: 20px 15px;

    & > :last-child .value {
      text-align: justify;
    }
  }

  .grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .infoItem {
    text-align: center;
  }

  .links {
    justify-content: center;
    gap: 1rem;
  }

  .value {
    display: block;
  }
}

@media (max-width: 400px) {
  .content > :last-child .value {
    text-align: left;
  }
}
