@import '../styles/shared/DetailsShared.module.scss';

.imageContainer {
  display: flex;
  gap: 3rem;
  margin-top: 32px;
  padding: 30px 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.image {
  width: 950px;
  height: auto;
  border-radius: 30px;
  box-shadow: var(--image-box-shadow);
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
}
