.countdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 64px;
  color: var(--text-primary);
}

.content {
  display: flex;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  background: var(--container-bg);
  box-shadow: var(--card-box-shadow);
  width: 200px;
  font-weight: bold;
  will-change: transform, box-shadow;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: var(--card-box-shadow-hover);
  }
}

.title {
  padding: var(--title-padding);
  color: var(--text-primary);
  font-size: 40px;
  border-radius: var(--main-border-radius);
  background-color: var(--title-bg);
}

.label {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.value {
  font-size: 32px;
}
