.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px 60px;
}

.title {
  font-size: clamp(36px, 7vw, 48px);
  color: white;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  align-items: center;
}

.loading {
  text-align: center;
  font-size: 80px;
  color: white;
  border-radius: var(--main-border-radius);
  background: black;
}

@media (max-width: 1068px) {
  .container {
    padding-bottom: 20px 30px;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
