.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 700px;
  height: 815px;
  padding: 40px 20px;
  border: var(--card-border);
  border-radius: var(--main-border-radius);
  box-shadow: var(--card-box-shadow);
  background: var(--container-bg);
  cursor: pointer;
  will-change: transform;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: var(--launch-card-box-shadow-hover);
  }
}

.skeletonCard {
  width: 700px;
  height: 815px;
  pointer-events: none;
}

.label {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.value {
  font-size: 24px;
  color: var(--text-primary);
}

.shipImage {
  width: 100%;
  aspect-ratio: 1.33;
  margin-top: 32px;
  border-radius: 20px;
  border: var(--image-border);
  object-fit: cover;
}

.placeholderIcon {
  display: flex;
  justify-content: center;
  color: var(--placeholder-color);
}
