.nav {
  display: flex;
  gap: 1rem;
  font-size: 24px;
}

.link {
  position: relative;
  z-index: 0;
  color: rgba(240, 240, 250, 0.9);
  font-weight: 600;
  text-decoration: none;
  text-shadow: 4px 0px 2px black;
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease;
}
