.homePage {
  color: white;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 2rem;
}

@media (max-width: 768px) {
  .content {
    padding: 2rem 18px;
  }
}
